name: pytask-latex
channels:
  - conda-forge
  - pytask
dependencies:
  - python=3.7
  - pip

  # Conda
  - anaconda-client
  - conda-build
  - conda-verify

  # Package dependencies
  - pytask >= 0.0.9
  - pytask-parallel >= 0.0.4
  - latex-dependency-scanner

  # Misc
  - bumpversion
  - jupyterlab
  - matplotlib
  - pdbpp
  - pre-commit
  - pytest-cov
  - pytest-xdist
