name: pytask-latex
channels:
  - conda-forge
  - pytask
dependencies:
  - python = 3.8
  - pip
  - setuptools_scm
  - toml

  # Conda
  - anaconda-client
  - conda-build
  - conda-verify

  # Package dependencies
  - pytask >= 0.0.11
  - pytask-parallel >= 0.0.4
  - latex-dependency-scanner

  # Misc
  - black
  - bumpversion
  - jupyterlab
  - matplotlib
  - pdbpp
  - pre-commit
  - pytest-cov
  - pytest-xdist
