name: main

# Automatically cancel a previous run.
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - '*'
  merge_group:

jobs:

  run-type-checking:

    name: Run tests for type-checking
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Install just
        uses: extractions/setup-just@v3
      - run: just typing

  run-tests:

    name: Run tests for ${{ matrix.os }} on ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
      - uses: actions/checkout@v6
      - uses: r-lib/actions/setup-tinytex@v2
        if: runner.os != 'Windows'
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}
      - name: Install just
        uses: extractions/setup-just@v3

      - name: Run tests
        shell: bash -l {0}
        run: just test-cov

      - name: Upload coverage report
        if: runner.os == 'Linux' && matrix.python-version == '3.10'
        shell: bash -l {0}
        run: bash <(curl -s https://codecov.io/bash) -c
